@import "tailwindcss";
body,
button,
span,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  font-family: "Readex Pro", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "HEXP" 0;
}
body {
  @apply bg-gray-900;
}
.small-text {
  font-size: 0.7rem;
}
input[type="number"] {
  text-align: start;
}

input[type="number"]::placeholder {
  text-align: start;
}
